.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  height: 787px;
  padding-top: 70px;
  background: var(--color-bg-main);
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  color: var(--color-text-muted);
}

@media (max-width: 1024px) {
  .main {
    gap: 50px;
    padding-top: 50px;
    height: auto;
    padding-bottom: 50px;
  }

  .title {
    font-size: 32px;
    line-height: 36px;
  }
}
