.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 70px;
  height: 787px;
  padding-top: 70px;
  background: var(--color-bg-main);
}

.title {
  font-family: "Poppins", sans-serif;
  font-size: 46px;
  font-weight: 600;
  line-height: 48px;
  letter-spacing: 0;
  color: var(--color-text-muted);
}
